*{
   box-sizing: border-box;
}
body{
   margin: 0;
   background:linear-gradient(45deg, #bdc3c7, #2c3e50);
   
   background-size: cover;
}
header{
   background-image: url("ai.jpg");
   text-align: center;
   padding: 25px;
   color: aliceblue;
}


aside{
   width: 60%;
   float: left;
   padding: 10px;
   color: black;
   font-weight: bolder;
   font-size: larger;
   
}
section{
   width: 60%;
   float: left;
   padding: 10px;
}
article{
   width: 60%;
   float: left;
   padding: 10px;
   color: black;
   font-weight: bolder;
   font-size: larger;
  
}
footer{
   display: block;
   clear: both;
   background-color: hsl(0, 0%, 86%);
   text-align: center;
   padding: 25px;
   color: black
}
@media screen and (max-width:600px){
   aside, section, article{
       width: 100%;
   }
}